<%- include ("partials/header") %>
<div>
	<div class="landing-header d-flex align-items-center flex-column mb-3">
 		<h1 class="logo-lg mb-5"><b>CoviCare</b></h1>
		<div>
			<a href="/campgrounds/new" class="btn btn-outline-dark btn-lg rounded-pill mr-4"><i class="fa fa-plus-circle white" aria-hidden="true"></i> New CoviCare Centre</a>
		</div>
		<br>
		<div>
			<a href="/campgrounds" class="btn btn-primary btn-lg rounded-pill">View All CoviCare Centres</a>
		</div>
    </div>
</div>
<%- include ("partials/footer") %>